In [6]:
import pandas as pd
import numpy as np

In [23]:
#settings for how many columns and rows are visualized

pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None) 
#pd.reset_option('display.max_rows')
#pd.reset_option('display.max_columns')

# Cleaning Parties csv

In [159]:
#loading initial csv 
parties = pd.read_csv("parties.csv")

C:\Users\mufff\AppData\Local\Temp\ipykernel_42672\826216982.py:2: DtypeWarning: Columns (11,17,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  parties = pd.read_csv("parties.csv")

In [160]:
#making df
parties_df=pd.DataFrame(parties)

In [161]:
parties_df.head()

,id,case_id,party_number,party_type,at_fault,party_sex,party_age,party_sobriety,party_drug_physical,direction_of_travel,party_safety_equipment_1,party_safety_equipment_2,financial_responsibility,hazardous_materials,cellphone_in_use,cellphone_use_type,school_bus_related,oaf_violation_code,oaf_violation_category,oaf_violation_section,oaf_violation_suffix,other_associate_factor_1,other_associate_factor_2,party_number_killed,party_number_injured,movement_preceding_collision,vehicle_year,vehicle_make,statewide_vehicle_type,chp_vehicle_type_towing,chp_vehicle_type_towed,party_race
0,1,81715.0,1,driver,1,female,35.0,not applicable,not applicable,north,air bag deployed,lap/shoulder harness used,proof of insurance obtained,NaN,0.0,cellphone not in use,NaN,NaN,NaN,NaN,NaN,none apparent,NaN,0,0,proceeding straight,2007.0,ford,NaN,NaN,NaN,other
1,2,81715.0,2,driver,0,female,43.0,not applicable,not applicable,north,air bag not deployed,lap/shoulder harness used,proof of insurance obtained,NaN,0.0,cellphone not in use,NaN,NaN,NaN,NaN,NaN,none apparent,NaN,0,0,proceeding straight,2019.0,NaN,NaN,NaN,NaN,hispanic
2,3,726202.0,1,driver,1,NaN,NaN,impairment unknown,G,north,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none apparent,NaN,0,0,proceeding straight,2005.0,NaN,passenger car,"passenger car, station",NaN,NaN
3,4,3858022.0,1,driver,1,male,47.0,impairment unknown,G,east,air bag not deployed,lap/shoulder harness used,proof of insurance obtained,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other,NaN,0,0,NaN,2007.0,dodge,emergency vehicle,police car,00,black
4,5,3858022.0,2,driver,0,male,58.0,had not been drinking,NaN,east,air bag not deployed,lap/shoulder harness used,proof of insurance obtained,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,stop and go traffic,NaN,0,0,NaN,2006.0,nissan,NaN,NaN,00,hispanic

In [162]:
parties_df.shape

(18669166, 32)

In [163]:
#checking unique values in columns
parties_df['party_drug_physical'].unique()

array(['not applicable', 'G', nan, 'impairment - physical',
       'under drug influence', 'sleepy/fatigued'], dtype=object)

In [165]:
#initial column headers
print(parties_df.columns)

Index(['id', 'case_id', 'party_number', 'party_type', 'at_fault', 'party_sex',
       'party_age', 'party_sobriety', 'party_drug_physical',
       'direction_of_travel', 'party_safety_equipment_1',
       'party_safety_equipment_2', 'financial_responsibility',
       'hazardous_materials', 'cellphone_in_use', 'cellphone_use_type',
       'school_bus_related', 'oaf_violation_code', 'oaf_violation_category',
       'oaf_violation_section', 'oaf_violation_suffix',
       'other_associate_factor_1', 'other_associate_factor_2',
       'party_number_killed', 'party_number_injured',
       'movement_preceding_collision', 'vehicle_year', 'vehicle_make',
       'statewide_vehicle_type', 'chp_vehicle_type_towing',
       'chp_vehicle_type_towed', 'party_race'],
      dtype='object')

In [299]:
#pulling wanted columns
party_df_2 = parties_df[['case_id', 'party_number', 'party_type', 'at_fault', 'party_sex', 'party_age', 'party_sobriety', 'party_drug_physical', 'party_safety_equipment_1', 'party_safety_equipment_2', 'cellphone_use_type', 'oaf_violation_category', 'party_number_killed', 'party_number_injured', 'movement_preceding_collision', 'vehicle_year', 'vehicle_make', 'party_race']].copy()

In [ ]:
party_df_2.head(1)

In [301]:
party_df_2.shape

(18669166, 18)

In [322]:
party_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18669166 entries, 0 to 18669165
Data columns (total 18 columns):
 #   Column                        Dtype
---  ------                        -----
 0   case_id                       float64
 1   party_number                  int64
 2   party_type                    object
 3   at_fault                      int64
 4   party_sex                     object
 5   party_age                     float64
 6   party_sobriety                object
 7   party_drug_physical           object
 8   party_safety_equipment_1      object
 9   party_safety_equipment_2      object
 10  cellphone_use_type            object
 11  oaf_violation_category        object
 12  party_number_killed           int64
 13  party_number_injured          int64
 14  movement_preceding_collision  object
 15  vehicle_year                  float64
 16  vehicle_make                  object
 17  party_race                    object
dtypes: float64(3), int64(4), object(11)
memory usage: 2.5+ GB

In [325]:
party_df_2['vehicle_year'].isna().sum()

1777184

In [70]:
#resaving csv version 2
party_df_2.to_csv(f"D:\Computer Courses\LHL Data Bootcamp\LHL Projects\Midterm Project\parties_2.csv", index=False)
print(f"DataFrame exported")

DataFrame exported

In [69]:
party_df_2.shape

(18669166, 18)

In [170]:
print(party_df_2.columns)

Index(['case_id', 'party_number', 'party_type', 'at_fault', 'party_sex',
       'party_age', 'party_sobriety', 'party_drug_physical',
       'party_safety_equipment_1', 'party_safety_equipment_2',
       'cellphone_use_type', 'oaf_violation_category', 'party_number_killed',
       'party_number_injured', 'movement_preceding_collision', 'vehicle_year',
       'vehicle_make', 'party_race'],
      dtype='object')

In [297]:
party_df_2['case_id'].unique()

array([-1], dtype=int64)

In [347]:
del parties_df

-----------
-----
-----

In [78]:
#import most version 2
party_df_2 = pd.read_csv("parties_2.csv")

C:\Users\mufff\AppData\Local\Temp\ipykernel_37520\3422329772.py:2: DtypeWarning: Columns (9,17) have mixed types. Specify dtype option on import or set low_memory=False.
  party_df_2 = pd.read_csv("parties_2.csv")

In [ ]:
#trying to adjust data types on import
dtype_options = {
    'case_id': float,
    'party_number': int,
    'party_type': str,
    'at_fault': int,
    'party_sex': str,
    'party_age': float,
    'party_safety_equipment_1': str,
    'party_safety_equipment_2': str,
    'cellphone_use_type': str,
    'oaf_violation_category': str,
    'party_number_killed': int,
    'party_number_injured': int,
    'movement_preceding_collision': str,
    'vehicle_year': float,
    'vehicle_make': str,
    'party_race': str
}

party_df_3 = pd.read_csv("parties_3.csv", dtype=dtype_options)

In [79]:
party_df_2.head(1)

,case_id,party_number,party_type,at_fault,party_sex,party_age,party_sobriety,party_drug_physical,party_safety_equipment_1,party_safety_equipment_2,cellphone_use_type,oaf_violation_category,party_number_killed,party_number_injured,movement_preceding_collision,vehicle_year,vehicle_make,party_race
0,81715.0,1,driver,1,female,35.0,not applicable,not applicable,air bag deployed,lap/shoulder harness used,cellphone not in use,NaN,0,0,proceeding straight,2007.0,ford,other

In [82]:
#pulling wanted columns
party_df_3 = party_df_2[['case_id', 'party_number', 'party_type', 'at_fault', 'party_sex', 'party_age', 'party_safety_equipment_1', 'party_safety_equipment_2', 'cellphone_use_type', 'oaf_violation_category', 'party_number_killed', 'party_number_injured', 'movement_preceding_collision', 'vehicle_year', 'vehicle_make', 'party_race']].copy()

In [84]:
party_df_3.count()

case_id                         18669166
party_number                    18669166
party_type                      18625299
at_fault                        18669166
party_sex                       16170123
party_age                       15754455
party_safety_equipment_1        15518152
party_safety_equipment_2        11666542
cellphone_use_type              14346749
oaf_violation_category           1283832
party_number_killed             18669166
party_number_injured            18669166
movement_preceding_collision    18335394
vehicle_year                    16891982
vehicle_make                    16719305
party_race                      14295037
dtype: int64

In [85]:
party_df_3.shape

(18669166, 16)

In [86]:
#resaving csv version 3
party_df_3.to_csv(f"D:\Computer Courses\LHL Data Bootcamp\LHL Projects\Midterm Project\parties_3.csv", index=False)
print(f"DataFrame exported")

DataFrame exported

In [116]:
party_df_3.head(1)

,case_id,party_number,party_type,at_fault,party_sex,party_age,party_safety_equipment_1,party_safety_equipment_2,cellphone_use_type,oaf_violation_category,party_number_killed,party_number_injured,movement_preceding_collision,vehicle_year,vehicle_make,party_race
0,81715.0,1,driver,1,female,35.0,air bag deployed,lap/shoulder harness used,cellphone not in use,NaN,0,0,proceeding straight,2007.0,ford,other

----
----
----

In [5]:
#loading csv verion 3
party_df_3 = pd.read_csv(f"..\data\parties_3.csv")

C:\Users\mufff\AppData\Local\Temp\ipykernel_30420\875214185.py:2: DtypeWarning: Columns (7,15) have mixed types. Specify dtype option on import or set low_memory=False.
  party_df_3 = pd.read_csv(f"..\data\parties_3.csv")

In [13]:
party_df_3.head(1)

,case_id,party_number,party_type,at_fault,party_sex,party_age,party_safety_equipment_1,party_safety_equipment_2,cellphone_use_type,oaf_violation_category,party_number_killed,party_number_injured,movement_preceding_collision,vehicle_year,vehicle_make,party_race
0,81715.0,1,driver,1,female,35.0,air bag deployed,lap/shoulder harness used,cellphone not in use,NaN,0,0,proceeding straight,2007.0,ford,other

In [36]:
party_df_3['party_number'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92], dtype=int64)

In [37]:
#pulling wanted columns
party_df_4 = party_df_3[['case_id', 'party_number', 'at_fault', 'party_sex', 'party_age', 'party_safety_equipment_1', 'party_safety_equipment_2', 'cellphone_use_type', 'oaf_violation_category', 'party_number_killed', 'party_number_injured', 'movement_preceding_collision', 'vehicle_year', 'vehicle_make', 'party_race']].copy()

In [39]:
party_df_4.head(1)

,case_id,party_number,at_fault,party_sex,party_age,party_safety_equipment_1,party_safety_equipment_2,cellphone_use_type,oaf_violation_category,party_number_killed,party_number_injured,movement_preceding_collision,vehicle_year,vehicle_make,party_race
0,81715.0,1,1,female,35.0,air bag deployed,lap/shoulder harness used,cellphone not in use,NaN,0,0,proceeding straight,2007.0,ford,other

In [42]:
#resaving csv version 4
party_df_4.to_csv(f"D:\Computer Courses\LHL Data Bootcamp\LHL Projects\Midterm Project\LHL-Midterm-Project\data\parties_4.csv", index=False)
print(f"DataFrame exported")

DataFrame exported

# Cleaning collisions csv

In [44]:
#import original collision csv
collisions = pd.read_csv("D:\Computer Courses\LHL Data Bootcamp\LHL Projects\Midterm Project\data csv versions\collisions.csv")

C:\Users\mufff\AppData\Local\Temp\ipykernel_30420\1416443917.py:2: DtypeWarning: Columns (2,3,11,13,25,26,37,50,58,68,69) have mixed types. Specify dtype option on import or set low_memory=False.
  collisions = pd.read_csv("D:\Computer Courses\LHL Data Bootcamp\LHL Projects\Midterm Project\data csv versions\collisions.csv")

In [45]:
#create dataframe version 1
collisions_df=pd.DataFrame(collisions)

In [46]:
collisions_df.shape

(9424334, 75)

In [47]:
collisions_df.head(1)

,case_id,jurisdiction,officer_id,reporting_district,chp_shift,population,county_city_location,county_location,special_condition,beat_type,chp_beat_type,city_division_lapd,chp_beat_class,beat_number,primary_road,secondary_road,distance,direction,intersection,weather_1,weather_2,state_highway_indicator,caltrans_county,caltrans_district,state_route,route_suffix,postmile_prefix,postmile,location_type,ramp_intersection,side_of_highway,tow_away,collision_severity,killed_victims,injured_victims,party_count,primary_collision_factor,pcf_violation_code,pcf_violation_category,pcf_violation,pcf_violation_subsection,hit_and_run,type_of_collision,motor_vehicle_involved_with,pedestrian_action,road_surface,road_condition_1,road_condition_2,lighting,control_device,chp_road_type,pedestrian_collision,bicycle_collision,motorcycle_collision,truck_collision,not_private_property,alcohol_involved,statewide_vehicle_type_at_fault,chp_vehicle_type_at_fault,severe_injury_count,other_visible_injury_count,complaint_of_pain_injury_count,pedestrian_killed_count,pedestrian_injured_count,bicyclist_killed_count,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,primary_ramp,secondary_ramp,latitude,longitude,collision_date,collision_time,process_date
0,81715.0,1941.0,11342,212,not chp,>250000,1941,los angeles,0.0,not chp,not chp,NaN,not chp,003,PATTERSON ST,ATLANTIC AV,0.0,NaN,1.0,cloudy,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,property damage only,0.0,0.0,2.0,vehicle code violation,NaN,speeding,22350.0,NaN,not hit and run,rear end,other motor vehicle,no pedestrian involved,dry,normal,NaN,daylight,none,0,0,0,0,0,1.0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,2020-03-14,07:45:00,2020-06-22

In [48]:
#column headers
print(collisions_df.columns)

Index(['case_id', 'jurisdiction', 'officer_id', 'reporting_district',
       'chp_shift', 'population', 'county_city_location', 'county_location',
       'special_condition', 'beat_type', 'chp_beat_type', 'city_division_lapd',
       'chp_beat_class', 'beat_number', 'primary_road', 'secondary_road',
       'distance', 'direction', 'intersection', 'weather_1', 'weather_2',
       'state_highway_indicator', 'caltrans_county', 'caltrans_district',
       'state_route', 'route_suffix', 'postmile_prefix', 'postmile',
       'location_type', 'ramp_intersection', 'side_of_highway', 'tow_away',
       'collision_severity', 'killed_victims', 'injured_victims',
       'party_count', 'primary_collision_factor', 'pcf_violation_code',
       'pcf_violation_category', 'pcf_violation', 'pcf_violation_subsection',
       'hit_and_run', 'type_of_collision', 'motor_vehicle_involved_with',
       'pedestrian_action', 'road_surface', 'road_condition_1',
       'road_condition_2', 'lighting', 'control_device', 'chp_road_type',
       'pedestrian_collision', 'bicycle_collision', 'motorcycle_collision',
       'truck_collision', 'not_private_property', 'alcohol_involved',
       'statewide_vehicle_type_at_fault', 'chp_vehicle_type_at_fault',
       'severe_injury_count', 'other_visible_injury_count',
       'complaint_of_pain_injury_count', 'pedestrian_killed_count',
       'pedestrian_injured_count', 'bicyclist_killed_count',
       'bicyclist_injured_count', 'motorcyclist_killed_count',
       'motorcyclist_injured_count', 'primary_ramp', 'secondary_ramp',
       'latitude', 'longitude', 'collision_date', 'collision_time',
       'process_date'],
      dtype='object')

In [49]:
#checking unique values in columns
collisions_df['alcohol_involved'].unique()

array([nan,  1.,  0.])

In [50]:
#create new df using specific columns
collisions_df2=collisions_df[['case_id', 'population', 'county_location', 'primary_road', 'secondary_road', 'intersection', 'weather_1', 'weather_2', 'caltrans_district', 'state_route', 'route_suffix', 'location_type', 'collision_severity', 'killed_victims', 'injured_victims','party_count', 'primary_collision_factor','pcf_violation_category','hit_and_run', 'type_of_collision', 'motor_vehicle_involved_with','pedestrian_action', 'road_surface', 'road_condition_1','road_condition_2', 'lighting', 'alcohol_involved', 'chp_vehicle_type_at_fault', 'pedestrian_killed_count','pedestrian_injured_count', 'bicyclist_killed_count','bicyclist_injured_count', 'motorcyclist_killed_count', 'motorcyclist_injured_count','latitude', 'longitude', 'collision_date', 'collision_time','process_date']].copy()

In [51]:
collisions_df2.head(1)

,case_id,population,county_location,primary_road,secondary_road,intersection,weather_1,weather_2,caltrans_district,state_route,route_suffix,location_type,collision_severity,killed_victims,injured_victims,party_count,primary_collision_factor,pcf_violation_category,hit_and_run,type_of_collision,motor_vehicle_involved_with,pedestrian_action,road_surface,road_condition_1,road_condition_2,lighting,alcohol_involved,chp_vehicle_type_at_fault,pedestrian_killed_count,pedestrian_injured_count,bicyclist_killed_count,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,latitude,longitude,collision_date,collision_time,process_date
0,81715.0,>250000,los angeles,PATTERSON ST,ATLANTIC AV,1.0,cloudy,NaN,NaN,NaN,NaN,NaN,property damage only,0.0,0.0,2.0,vehicle code violation,speeding,not hit and run,rear end,other motor vehicle,no pedestrian involved,dry,normal,NaN,daylight,NaN,NaN,0,0,0,0,0,0.0,NaN,NaN,2020-03-14,07:45:00,2020-06-22

In [52]:
collisions_df2.shape

(9424334, 39)

In [279]:
#resaving csv version 2
collisions_df2.to_csv(f"D:\Computer Courses\LHL Data Bootcamp\LHL Projects\Midterm Project\collisions_df2.csv", index=False)
print(f"DataFrame exported")

DataFrame exported

In [351]:
#these files are so big, need to delete dataframe alone the way for memory
del collisions_df

In [188]:
#creating column to contain info from these 4 columns
for index, row in collisions_df2.iterrows():
    if row['pedestrian_collision'] == 1:
        collisions_df2.at[index, 'collision_type'] = 'pedestrian'
    elif row['bicycle_collision'] == 1:
        collisions_df2.at[index, 'collision_type'] = 'bicycle'
    elif row['motorcycle_collision'] == 1:
        collisions_df2.at[index, 'collision_type'] = 'motorcycle'
    elif row['truck_collision'] == 1:
        collisions_df2.at[index, 'collision_type'] = 'truck'

In [59]:
#creating new df with specific columns
collisions_df3=collisions_df2[['case_id', 'county_location', 'intersection', 'weather_1', 'weather_2', 'state_route', 'route_suffix', 'location_type', 'killed_victims', 'injured_victims','party_count', 'primary_collision_factor','pcf_violation_category','hit_and_run', 'type_of_collision', 'motor_vehicle_involved_with','pedestrian_action', 'road_surface', 'road_condition_1','road_condition_2', 'lighting', 'alcohol_involved', 'chp_vehicle_type_at_fault', 'pedestrian_killed_count','pedestrian_injured_count', 'bicyclist_killed_count','bicyclist_injured_count', 'motorcyclist_killed_count', 'motorcyclist_injured_count','latitude', 'longitude', 'collision_date', 'collision_time']].copy()

In [60]:
collisions_df3.shape

(9424334, 33)

In [61]:
collisions_df3.head(1)

,case_id,county_location,intersection,weather_1,weather_2,state_route,route_suffix,location_type,killed_victims,injured_victims,party_count,primary_collision_factor,pcf_violation_category,hit_and_run,type_of_collision,motor_vehicle_involved_with,pedestrian_action,road_surface,road_condition_1,road_condition_2,lighting,alcohol_involved,chp_vehicle_type_at_fault,pedestrian_killed_count,pedestrian_injured_count,bicyclist_killed_count,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,latitude,longitude,collision_date,collision_time
0,81715.0,los angeles,1.0,cloudy,NaN,NaN,NaN,NaN,0.0,0.0,2.0,vehicle code violation,speeding,not hit and run,rear end,other motor vehicle,no pedestrian involved,dry,normal,NaN,daylight,NaN,NaN,0,0,0,0,0,0.0,NaN,NaN,2020-03-14,07:45:00

In [10]:
#comparing to party df to see if we can get rid of some more columns

In [64]:
party_df_4.head(2)

,case_id,party_number,at_fault,party_sex,party_age,party_safety_equipment_1,party_safety_equipment_2,cellphone_use_type,oaf_violation_category,party_number_killed,party_number_injured,movement_preceding_collision,vehicle_year,vehicle_make,party_race
0,81715.0,1,1,female,35.0,air bag deployed,lap/shoulder harness used,cellphone not in use,NaN,0,0,proceeding straight,2007.0,ford,other
1,81715.0,2,0,female,43.0,air bag not deployed,lap/shoulder harness used,cellphone not in use,NaN,0,0,proceeding straight,2019.0,NaN,hispanic

In [65]:
#checking values in columns
party_df_4['party_safety_equipment_2'].unique()

array(['lap/shoulder harness used', nan, 'unknown', 'lap belt used',
       'driver, motorcycle helmet used', 'lap/shoulder harness not used',
       'air bag not deployed', 'not required', 'air bag deployed',
       'other', 'shoulder harness used', 'none in vehicle',
       'lap belt not used', 'passive restraint not used',
       'driver, motorcycle helmet not used', 'shoulder harness not used',
       'child restraint in vehicle, use unknown',
       'passive restraint used', 'passenger, motorcycle helmet used',
       'no child restraint in vehicle',
       'child restraint in vehicle not used',
       'child restraint in vehicle used',
       'child restraint in vehicle, improper use',
       'passenger, motorcycle helmet not used'], dtype=object)

In [62]:
collisions_df3['alcohol_involved'].unique()

array([nan,  1.,  0.])

In [66]:
party_df_4[party_df_4['party_number_killed']!=0]

,case_id,party_number,at_fault,party_sex,party_age,party_safety_equipment_1,party_safety_equipment_2,cellphone_use_type,oaf_violation_category,party_number_killed,party_number_injured,movement_preceding_collision,vehicle_year,vehicle_make,party_race
256,3984218.0,1,1,male,23.0,NaN,NaN,cellphone not in use,driving or bicycling under the influence of al...,1,0,proceeding straight,2005.0,ford,black
257,3984219.0,1,1,male,19.0,air bag deployed,lap/shoulder harness used,NaN,NaN,1,0,proceeding straight,2004.0,toyota,hispanic
258,3984244.0,1,1,female,35.0,air bag not deployed,lap/shoulder harness used,cellphone not in use,improper turning,1,1,other,1991.0,honda,hispanic
260,3984245.0,2,0,female,74.0,NaN,NaN,NaN,NaN,1,0,proceeding straight,NaN,NaN,asian
261,3984246.0,1,1,male,28.0,not required,"driver, motorcycle helmet used",cellphone not in use,NaN,1,0,proceeding straight,2005.0,suzuki,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18669102,90275406.0,1,0,male,82.0,air bag deployed,lap/shoulder harness used,cellphone not in use,NaN,1,0,proceeding straight,2015.0,ford,white
18669103,90298443.0,1,1,male,58.0,NaN,NaN,cellphone not in use,NaN,1,0,NaN,NaN,NaN,white
18669105,90309377.0,1,1,male,43.0,NaN,"driver, motorcycle helmet used",cellphone not in use,wrong side of road,1,0,other unsafe turning,2005.0,suzuki,hispanic
18669110,90326285.0,1,1,male,29.0,air bag not deployed,unknown,cellphone not in use,improper turning,1,3,other unsafe turning,2000.0,honda,hispanic
18669125,7006193.0,1,1,male,46.0,air bag deployed,lap/shoulder harness used,cellphone not in use,wrong side of road,1,0,proceeding straight,2008.0,mini,white

In [67]:
#resaving csv version 3
collisions_df3.to_csv(f"D:\Computer Courses\LHL Data Bootcamp\LHL Projects\Midterm Project\collisions_df3.csv", index=False)
print(f"DataFrame exported")

DataFrame exported

In [68]:
collisions_df3.head(1)

,case_id,county_location,intersection,weather_1,weather_2,state_route,route_suffix,location_type,killed_victims,injured_victims,party_count,primary_collision_factor,pcf_violation_category,hit_and_run,type_of_collision,motor_vehicle_involved_with,pedestrian_action,road_surface,road_condition_1,road_condition_2,lighting,alcohol_involved,chp_vehicle_type_at_fault,pedestrian_killed_count,pedestrian_injured_count,bicyclist_killed_count,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,latitude,longitude,collision_date,collision_time
0,81715.0,los angeles,1.0,cloudy,NaN,NaN,NaN,NaN,0.0,0.0,2.0,vehicle code violation,speeding,not hit and run,rear end,other motor vehicle,no pedestrian involved,dry,normal,NaN,daylight,NaN,NaN,0,0,0,0,0,0.0,NaN,NaN,2020-03-14,07:45:00

In [69]:
#checking data types
collisions_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424334 entries, 0 to 9424333
Data columns (total 33 columns):
 #   Column                       Dtype
---  ------                       -----
 0   case_id                      float64
 1   county_location              object
 2   intersection                 float64
 3   weather_1                    object
 4   weather_2                    object
 5   state_route                  float64
 6   route_suffix                 object
 7   location_type                object
 8   killed_victims               float64
 9   injured_victims              float64
 10  party_count                  float64
 11  primary_collision_factor     object
 12  pcf_violation_category       object
 13  hit_and_run                  object
 14  type_of_collision            object
 15  motor_vehicle_involved_with  object
 16  pedestrian_action            object
 17  road_surface                 object
 18  road_condition_1             object
 19  road_condition_2             object
 20  lighting                     object
 21  alcohol_involved             float64
 22  chp_vehicle_type_at_fault    object
 23  pedestrian_killed_count      int64
 24  pedestrian_injured_count     int64
 25  bicyclist_killed_count       int64
 26  bicyclist_injured_count      int64
 27  motorcyclist_killed_count    int64
 28  motorcyclist_injured_count   float64
 29  latitude                     float64
 30  longitude                    float64
 31  collision_date               object
 32  collision_time               object
dtypes: float64(10), int64(5), object(18)
memory usage: 2.3+ GB

---
---
---

In [5]:
#import most recent csv
collisions_df3 = pd.read_csv("collisions_df3.csv")

C:\Users\mufff\AppData\Local\Temp\ipykernel_37520\2648935488.py:2: DtypeWarning: Columns (9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  collisions_df3 = pd.read_csv("collisions_df3.csv")

In [6]:
collisions_df3=pd.DataFrame(collisions_df3)

In [70]:
collisions_df3.shape

(9424334, 33)

In [71]:
collisions_df3.head(1)

,case_id,county_location,intersection,weather_1,weather_2,state_route,route_suffix,location_type,killed_victims,injured_victims,party_count,primary_collision_factor,pcf_violation_category,hit_and_run,type_of_collision,motor_vehicle_involved_with,pedestrian_action,road_surface,road_condition_1,road_condition_2,lighting,alcohol_involved,chp_vehicle_type_at_fault,pedestrian_killed_count,pedestrian_injured_count,bicyclist_killed_count,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,latitude,longitude,collision_date,collision_time
0,81715.0,los angeles,1.0,cloudy,NaN,NaN,NaN,NaN,0.0,0.0,2.0,vehicle code violation,speeding,not hit and run,rear end,other motor vehicle,no pedestrian involved,dry,normal,NaN,daylight,NaN,NaN,0,0,0,0,0,0.0,NaN,NaN,2020-03-14,07:45:00

In [73]:
#creating new df with specific columns
collisions_df4=collisions_df3[['case_id', 'county_location', 'intersection', 'weather_1', 'weather_2', 'state_route', 'location_type', 'killed_victims', 'injured_victims','party_count', 'primary_collision_factor','pcf_violation_category','hit_and_run', 'type_of_collision', 'motor_vehicle_involved_with','pedestrian_action', 'road_surface', 'road_condition_1','road_condition_2', 'lighting', 'alcohol_involved', 'chp_vehicle_type_at_fault', 'pedestrian_killed_count','pedestrian_injured_count', 'bicyclist_killed_count','bicyclist_injured_count', 'motorcyclist_killed_count', 'motorcyclist_injured_count','latitude', 'longitude', 'collision_date', 'collision_time']].copy()

In [74]:
collisions_df4.shape

(9424334, 32)

In [75]:
#changing collision date to datetime again
collisions_df4['collision_date'] = pd.to_datetime(collisions_df4['collision_date'])

In [76]:
collisions_df4['years'] = collisions_df4['collision_date'].dt.strftime('%Y')

In [77]:
collisions_df4['years'].unique()

array(['2020', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2021', '2019', '2008', '2002', '2003',
       '2001', '2004', '2005', '2006', '2007'], dtype=object)

In [78]:
#removing data from earlier years
years_to_drop = ['2001', '2002', '2003', '2004', '2005']

collisions_df4 = collisions_df4[~collisions_df4['years'].isin(years_to_drop)]

In [79]:
collisions_df4['years'].unique()

array(['2020', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2021', '2019', '2008', '2006', '2007'],
      dtype=object)

In [80]:
collisions_df4.shape

(6747057, 33)

In [81]:
collisions_df4['county_location'].count()

6747057

In [82]:
collisions_df4.head(1)

,case_id,county_location,intersection,weather_1,weather_2,state_route,location_type,killed_victims,injured_victims,party_count,primary_collision_factor,pcf_violation_category,hit_and_run,type_of_collision,motor_vehicle_involved_with,pedestrian_action,road_surface,road_condition_1,road_condition_2,lighting,alcohol_involved,chp_vehicle_type_at_fault,pedestrian_killed_count,pedestrian_injured_count,bicyclist_killed_count,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,latitude,longitude,collision_date,collision_time,years
0,81715.0,los angeles,1.0,cloudy,NaN,NaN,NaN,0.0,0.0,2.0,vehicle code violation,speeding,not hit and run,rear end,other motor vehicle,no pedestrian involved,dry,normal,NaN,daylight,NaN,NaN,0,0,0,0,0,0.0,NaN,NaN,2020-03-14,07:45:00,2020

In [12]:
#comparing columns to see if we can reduce our data size

In [83]:
collisions_df4['weather_1'].unique()

array(['cloudy', 'clear', 'raining', 'fog', nan, 'snowing', 'wind',
       'other'], dtype=object)

In [84]:
collisions_df4['weather_2'].unique()

array([nan, 'raining', 'wind', 'fog', 'cloudy', 'other', 'snowing',
       'clear'], dtype=object)

In [85]:
collisions_df4['weather_1'].isna().sum()

28172

In [86]:
collisions_df4['weather_2'].isna().sum()

6564715

In [87]:
na_test = collisions_df4[collisions_df4['weather_1'].isna()]

In [88]:
na_test['weather_2'].isna().sum()

28171

In [89]:
collisions_df4.count()

case_id                        6747057
county_location                6747057
intersection                   6692654
weather_1                      6718885
weather_2                       182342
state_route                    1593563
location_type                  1593563
killed_victims                 6747057
injured_victims                6747057
party_count                    6747055
primary_collision_factor       6714658
pcf_violation_category         6646738
hit_and_run                    6747056
type_of_collision              6689681
motor_vehicle_involved_with    6711842
pedestrian_action              6743153
road_surface                   6693353
road_condition_1               6696254
road_condition_2                 30758
lighting                       6712426
alcohol_involved                696758
chp_vehicle_type_at_fault      5452876
pedestrian_killed_count        6747057
pedestrian_injured_count       6747057
bicyclist_killed_count         6747057
bicyclist_injured_count        6747057
motorcyclist_killed_count      6747057
motorcyclist_injured_count     6747055
latitude                       2693996
longitude                      2693996
collision_date                 6747057
collision_time                 6685136
years                          6747057
dtype: int64

In [90]:
collisions_df4['chp_vehicle_type_at_fault'].unique()

array([nan, 'passenger car, station', 'police car', 'pedestrian',
       'sport utility vehicle', 'unknown hit and run vehicle involvement',
       'pickups & panels', 'mini-vans', 'two axle truck',
       'three or more axle truck', 'motor home', 'motorcycle',
       'public transit authority', 'truck tractor', 'other commercial',
       'two axle tank truck', 'paratransit', 'two-axle tow truck',
       'general public paratransit',
       'pickups and panels: hazardous material',
       'pickups and panels: hazardous waste or hazardous waste/material combination',
       'tour bus', 'truck tractor: hazardous material',
       'school bus private type ii', 'two-axle truck: hazardous material',
       'school bus public type i', 'three-axle tow truck',
       'non-commercial bus', 'pickup w/camper',
       'three or more axle truck: hazardous material', 'bicycle',
       'two-axle tank truck: hazardous waste or hazardous waste/material combination',
       'school bus public type ii', 'hwy. construction equip.',
       'three axle tank truck', 'implement of husbandry',
       'all terrain vehicle', 'motor driven',
       'two-axle tank truck: hazardous material',
       'school bus contractual type i',
       'three or more axle truck: hazardous waste or hazardous waste/material combination',
       'ambulance', 'school bus private type i',
       'passenger car, station wagon, jeep: hazardous waste or hazardous waste/material combination',
       'police motorcycle', 'fire truck',
       'go-ped, zip electric scooter, motoboard',
       'misc. non-motor vehicle',
       'misc. motor vehicle (snowmobile, golf cart)',
       'motor home > 40 feet',
       'passenger car, station wagon, jeep: hazardous material',
       'motorized bicycle',
       'three-axle tank truck: hazardous waste or hazardous waste/material combination',
       'fork lift', 'dune buggy', 'mobile equipment',
       'school bus contractual type ii',
       'pickup and camper: hazardous material',
       'two-axle truck: hazardous waste or hazardous waste/material combination',
       'truck tractor: hazardous waste or hazardous waste/material combination',
       'school pupil activity bus type i',
       'farm labor vehicle (certified)', '66', 'low speed vehicle',
       'school pupil activity bus type ii', 'farm labor transporter',
       'pickup and camper: hazardous waste or hazardous waste/material combination',
       'youth bus', 'farm labor vehicle',
       'three-axle tank truck: hazardous material',
       'emergency vehicle (on emergency run)', 'utility',
       'three trailers', 'extralegal permit load', 'semi',
       'fifth wheel travel trailer',
       'federally legal double combo over 75 feet', 'semi tank trailer',
       '91', 'container chassis', '93',
       'two trailers (includes semi & pull)', 'pull', 'trailer coach',
       '0', 'two tank trailer', 'passengers',
       'second or additional enforcement action(s)', 'boat',
       'federally legal semi', 'pull tank trailer', 'D'], dtype=object)

In [91]:
#resaving csv version 4
collisions_df4.to_csv(f"D:\Computer Courses\LHL Data Bootcamp\LHL Projects\Midterm Project\collisions_df4.csv", index=False)
print(f"DataFrame exported")

DataFrame exported

---
---
---

In [7]:
#loading csv 
collisions_df4 = pd.read_csv(f"..\data\collisions_df4.csv")

C:\Users\mufff\AppData\Local\Temp\ipykernel_30420\1657112751.py:2: DtypeWarning: Columns (6,21) have mixed types. Specify dtype option on import or set low_memory=False.
  collisions_df4 = pd.read_csv(f"..\data\collisions_df4.csv")

In [92]:
collisions_df4.head(1)

,case_id,county_location,intersection,weather_1,weather_2,state_route,location_type,killed_victims,injured_victims,party_count,primary_collision_factor,pcf_violation_category,hit_and_run,type_of_collision,motor_vehicle_involved_with,pedestrian_action,road_surface,road_condition_1,road_condition_2,lighting,alcohol_involved,chp_vehicle_type_at_fault,pedestrian_killed_count,pedestrian_injured_count,bicyclist_killed_count,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,latitude,longitude,collision_date,collision_time,years
0,81715.0,los angeles,1.0,cloudy,NaN,NaN,NaN,0.0,0.0,2.0,vehicle code violation,speeding,not hit and run,rear end,other motor vehicle,no pedestrian involved,dry,normal,NaN,daylight,NaN,NaN,0,0,0,0,0,0.0,NaN,NaN,2020-03-14,07:45:00,2020

In [93]:
collisions_df4['location_type'].unique()

array([nan, 'highway', 'ramp', 'intersection'], dtype=object)

In [95]:
#creating new df with specific columns
collisions_df5=collisions_df4[['case_id', 'county_location', 'weather_1', 'weather_2', 'state_route', 'killed_victims', 'injured_victims','party_count', 'pcf_violation_category', 'pedestrian_action', 'road_surface', 'lighting', 'alcohol_involved', 'pedestrian_killed_count','pedestrian_injured_count', 'bicyclist_killed_count','bicyclist_injured_count', 'motorcyclist_killed_count', 'motorcyclist_injured_count','latitude', 'longitude', 'collision_date', 'collision_time']].copy()

In [96]:
#resaving csv version 5
collisions_df5.to_csv(f"D:\Computer Courses\LHL Data Bootcamp\LHL Projects\Midterm Project\LHL-Midterm-Project\data\collisions_df5.csv", index=False)
print(f"DataFrame exported")

DataFrame exported

## Cleaning victims csv - HAVEN'T CHANGED ANYTHING HERE YET

In [237]:
#loading csv 
victims = pd.read_csv("victims.csv")

C:\Users\mufff\AppData\Local\Temp\ipykernel_42672\1939914625.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  victims = pd.read_csv("victims.csv")

In [238]:
victims_df=pd.DataFrame(victims)

In [239]:
victims_df.shape

(9639334, 11)

In [242]:
victims_df.head()

,id,case_id,party_number,victim_role,victim_sex,victim_age,victim_degree_of_injury,victim_seating_position,victim_safety_equipment_1,victim_safety_equipment_2,victim_ejected
0,1,3858022.0,1,passenger,female,24.0,no injury,passenger seat 4,air bag not deployed,NaN,not ejected
1,2,3858022.0,1,passenger,male,31.0,no injury,passenger seat 6,air bag not deployed,NaN,not ejected
2,3,3899450.0,1,driver,female,72.0,complaint of pain,driver,air bag not deployed,lap/shoulder harness used,not ejected
3,4,3899453.0,2,driver,male,66.0,complaint of pain,driver,air bag deployed,lap/shoulder harness used,not ejected
4,5,3899453.0,3,passenger,male,65.0,no injury,passenger seat 3,air bag not deployed,lap/shoulder harness used,not ejected

In [358]:
victims_df[victims_df['case_id']==81715.0]

Empty DataFrame
Columns: [id, case_id, party_number, victim_role, victim_sex, victim_age, victim_degree_of_injury, victim_seating_position, victim_safety_equipment_1, victim_safety_equipment_2, victim_ejected]
Index: []

In [359]:
collisions_df3[collisions_df3['case_id']==81715.0]

MemoryError: Unable to allocate 1.40 GiB for an array with shape (20, 9424334) and data type object

In [257]:
party_df_2[party_df_2['case_id']==3984246.0]

,case_id,party_number,party_type,at_fault,party_sex,party_age,party_sobriety,party_drug_physical,party_safety_equipment_1,party_safety_equipment_2,cellphone_use_type,oaf_violation_category,party_number_killed,party_number_injured,movement_preceding_collision,vehicle_year,vehicle_make,party_race
261,3984246.0,1,driver,1,male,28.0,NaN,under drug influence,not required,"driver, motorcycle helmet used",cellphone not in use,NaN,1,0,proceeding straight,2005.0,suzuki,other
262,3984246.0,2,driver,0,male,45.0,had not been drinking,NaN,air bag not deployed,lap/shoulder harness used,cellphone not in use,NaN,0,0,proceeding straight,2004.0,chevrolet,hispanic

In [374]:
del victims_df

## Case ids - Not using this data for project

In [24]:
#loading csv 
caseids = pd.read_csv("caseids.csv")

In [25]:
caseids_df = pd.DataFrame(caseids)

In [26]:
caseids_df.head()

     case_id  db_year
0    81715.0     2021
1   726202.0     2021
2  3858022.0     2021
3  3899441.0     2021
4  3899442.0     2021

In [27]:
caseids_df['db_year'].unique()

array([2021, 2020, 2018, 2017, 2016], dtype=int64)

In [31]:
caseids_df.shape

(9424334, 2)

In [47]:
# checking case #s in caseid
cases_only_in_coll = pd.merge(collisions_df4, caseids_df, on='case_id', how='left')

In [48]:
cases_only_in_coll.head(1)

,case_id,county_location,intersection,weather_1,weather_2,state_route,route_suffix,location_type,killed_victims,injured_victims,party_count,primary_collision_factor,hit_and_run,type_of_collision,motor_vehicle_involved_with,pedestrian_action,road_surface,road_condition_1,road_condition_2,lighting,alcohol_involved,chp_vehicle_type_at_fault,pedestrian_killed_count,pedestrian_injured_count,bicyclist_killed_count,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,latitude,longitude,collision_date,collision_time,collision_type,years,db_year
0,81715.0,los angeles,1.0,cloudy,NaN,NaN,NaN,NaN,0.0,0.0,2.0,vehicle code violation,not hit and run,rear end,other motor vehicle,no pedestrian involved,dry,normal,NaN,daylight,NaN,NaN,0,0,0,0,0,0.0,NaN,NaN,2020-03-14,07:45:00,NaN,2020,2021

In [49]:
cases_only_in_coll['db_year'].isnull().sum()

0

In [51]:
cases_only_in_caseid = pd.merge(caseids_df, collisions_df4, on='case_id', how='left')

In [52]:
cases_only_in_caseid.head(1)

,case_id,db_year,county_location,intersection,weather_1,weather_2,state_route,route_suffix,location_type,killed_victims,injured_victims,party_count,primary_collision_factor,hit_and_run,type_of_collision,motor_vehicle_involved_with,pedestrian_action,road_surface,road_condition_1,road_condition_2,lighting,alcohol_involved,chp_vehicle_type_at_fault,pedestrian_killed_count,pedestrian_injured_count,bicyclist_killed_count,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,latitude,longitude,collision_date,collision_time,collision_type,years
0,81715.0,2021,los angeles,1.0,cloudy,NaN,NaN,NaN,NaN,0.0,0.0,2.0,vehicle code violation,not hit and run,rear end,other motor vehicle,no pedestrian involved,dry,normal,NaN,daylight,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2020-03-14,07:45:00,NaN,2020

In [53]:
cases_only_in_caseid['county_location'].isnull().sum()

2677277

In [54]:
# all ids in the case id csv are in the collisions csv. The collision csv includes more ids than the case id csv. So will use not use the caseid csv at all

In [55]:
del caseids_df

In [57]:
del cases_only_in_coll
del cases_only_in_caseid